<!DOCTYPE html>
<html>

<head>
	<title>AI Sangam Home Page</title>
</head>
<body>
{% extends 'navbar.html' %}
{% block content %}	
<h1>About AI Sangam</h1>
<p>Companies developing artificial intelligence is in great demand and AI Sangam (a startup) is offering Artificial intelligence services, Data Science Solutions, Best python Solutions, Matlab programming services, AI chatbot service provider as well Web Integration. Our Vision is to serve clients in best possible way. We have well maintained Github account and blog where new changes are committed and reflected. Check <a href="https://www.youtube.com/channel/UC9x_PL-LPk3Wp5V85F4GLHQ?view_as=subscriber">AI Sangam You Tube Channel</a> for viewing some live demos and AI Sangam blog for some written material. Please stay in touch through our accounts in the social networking sites provided at the footer section. Coming years will belong to AI and IoT (Internet of Things). So it is better to learn these.</p>	
<h1> Why AI Sangam</h1>
<ul>
	<li> We provide quality services</li>
	<li> Treat client as out family and try to help them in best possible way</li>
	<li> Updates the site with best qulaity content on AI, Machine learning and deep learning. Implements demos related with these technologies</li>
	<li> Work for passion. Company which balances the business and client satisfication in best possible way</li>
</ul>
<h1> How to contact us </h1>
	<ul>
		<l1> Skype (aisangamofficial)</l1>
		<li> Gmail (aisangamofficial@gmail.com) </li>
		<li> <a href="https://www.youtube.com/channel/UC9x_PL-LPk3Wp5V85F4GLHQ?view_as=subscriber">AI Sangam You Tube Channel</a></li>
		<li> <a href="https://www.facebook.com/aisangam4you/?modal=admin_todo_tour">AI Sangam Facebook Page</a></lsi>
		<li> <a href="https://www.linkedin.com/in/ai-sangam-819662164/">AI Sangam Linkedln </a></li>
	</ul>

{% endblock %}	
</body>

</html>